{% extends 'Base.html' %}

{% block title %}Home{% endblock title %}
{% block body %} 

<div class="container" style="padding-left:30rem ;padding-right:30rem;">
<form method="POST" action="{% url 'Tejas_App:Home' %}">
  {% csrf_token %}  
  
  <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" id="exampleInputEmail1" >
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="exampleInputPassword1">
    </div>
   
    <button type="submit" class="btn btn-primary">Login</button>
    
  </form>
</div>

{% endblock body %}
